@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    // Global
    .custom__scrollbar::-webkit-scrollbar {
        @apply w-2;
    }
    .custom__scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-50;
    }
    .custom__scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-300;
    }

    .hide__overflow {
        overflow: hidden;
    }

    // Sidebar Classes
    .siderbar__item {
        @apply relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6;
        &.active {
            @apply border-indigo-500;
        }
    }

    .sidebar__list {
        hr:first-child {
            display: none;
        }
    }

    .icon__size {
        @apply inline w-5 h-5;
    }

    // Card Classes
    .custom-gradient {
        @apply w-full h-full absolute left-0 top-0 z-0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(2, 0, 36, 0) 100%);
    }
}
